
img {
display:block;
height:450px;
user-select:none;
width:700px;

}
body{
background-attachment:scroll;
background-clip:border-box;
background-color:rgb(14, 14, 14);
background-image:none;
background-origin:padding-box;
background-position-x:0%;
background-position-y:0%;
background-repeat-x:;
background-repeat-y:;
background-size:auto;
display:block;
height:947px;
margin:600px;
width:1292px;
font-family: Arial, melvetica, sans-serif; line-height: 1.3;
}
